<h1> <%= @person.full_name %> </h1>
<hr>
<p> Age: <%= @person.age %> </p>
<p> Gender: <%= @person.gender %> </p>
<p> Hair Color: <%= @person.hair_color%> </p>
<p> Eye Color: <%= @person.eye_color %> </p>
<p> Alive: <%= @person.alive %> </p>
<%= link_to 'Back', people_path %>

