<!DOCTYPE html>
<html>
  <head>
    <title>People App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <nav>
    <div class="nav-wrapper teal lighten-2">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
         <%= render 'layouts/navbar' %>
      </ul>
    </div>
    </nav>

    <%= yield %>
    </div>
  </body>
</html>
